@using Shop.Data.Models
@model IEnumerable<Shop.Data.Models.Book>
@{ 
    ViewData["Titele"] = "Index";
}
@*@{ 
    Layout = null;
}*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Все книги</title>
    <style type="text/css">
        .btn{
            text-decoration: none;
            position:relative;
            height:40px;
            line-height:40px;
            padding: 0 50px 0 50px;
            margin: 0 20px;
            background: linear-gradient(-135deg,#00E5FE,#4463FE);
            border-width:0;
            border-radius:50px;
            font-size:20px;
            color:white;
            outline:none;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div style="align-content:center;">
        <table border="1">
            <tr>
                <td width="50">№</td>
                <td width="150">Название книги</td>
                <td width="150">Автор</td>
                <td width="150">Описание</td>
                <td width="150">Цена</td>
            </tr>
            @foreach (Book item in Model)
            {
                <tr>
                    <td width="50">@item.Id</td>
                    <td width="150">@item.BookName</td>
                    <td width="150">@item.AuthorName</td>
                    <td width="150">@item.Description</td>
                    <td width="150">@item.Price</td>
                </tr>
            }
        </table>
        <br />
        <a href="/Book/Add" class="btn">Добавить</a>
    </div>
   
</body>
</html>